
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Shareed styles */
.display-flex{
  display: flex;
}
.dark-1{
  color: #3A3A3A;
}
.dark-2{
 color: #18191F;
}
.dark-3{
  color: #787885;
  font-weight: bold;
}
.dark-4{
  color: #D9DBE1;
}
.white-1{
  color: #FFFFFF;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-24{
  font-size: 24px;
}
.font-28{
  font-size: 28px;
}
.align{
  text-align: center;
}

/* Navber Sryles */
.nav-title{
  font-size: 1.25rem;
}

.navber{
   justify-content: space-between;
   margin: 0 120px;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  margin-left: 34px;
}
.container{
  display: flex;
  margin-left: 100px;
  margin-right:0 ;
}
.influence-title{
  font-size: 52px;
  margin-bottom: 16px;
  margin-top: 0;
}
.img-bg{
  background-image: url('../images/Circle\ design.svg');
  height: 475px;
  width: 475px;
  margin-left: 120px; 
  margin-top: 30px;
}
.influencer-part{
  /* width: 582px; */
  height: 295px;
  margin-top: 145px;
}
.influencer-btn{
  background-color: #E02C6D;
  color: #FFFFFF;
  border-radius: 40px;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  margin: 0;
}
.influencer-description{
  margin-bottom: 16px;
}

/* Companies Logo */

.companies{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 60px;
  padding: 35px 35px ;
}

/* Popular Collection */

.collection-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 100px;
}

/* card styles */

.card-img{
  height: 256px;
  width: 300px;
  margin-bottom: 0;
}
.card-item{
  border-radius: 5px;
  padding: 16px 14px;
  margin-bottom: 10px;
  /* box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-price{
  font-weight: 400;
  font-size: 24px;
}
.bg-cl{
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 0;
}
.see-more{
  color: #E02C6D;
  margin-right: 0;
  margin-left: 1080px;
  text-decoration: none;
}

/* Featured products */

.featured-btn{
  background-color: #E02C6D;
  color: #FFFFFF;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  margin: 0;
}
.featured-container{
  display: flex;
  gap: 96px;
  margin: 90px 90px;
}
.featured-img{
  height: 270px;
  width: 404px;
}
.featured-title{
  font-size: 38px;
  margin: 0;
}
.featured-discription{
  color: #6C6C6C;
}
.featured-box{
  margin: 23px 0;
}

/* Footer styles */

.footer-section{
  background-color: #0A0826;
}
.footer-container{
  width: 262px;
  /* height: 139px; */
  text-align: center;
  margin: 0 auto;
  padding: 40px;
}
.footer-title{
  color: #FFFFFF;
  margin-top: 10px;
}
.margin-1{
  margin-left: 10px;
}
.margin-2{
  margin-top: 0;
  margin-bottom: 7px;
}